{{extend "./common/layout.html"}} {{block "body"}} {{include "./header.html"}}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active">
          <a href="/manager?page=1"
            >学生信息 <span class="sr-only">(current)</span></a
          >
        </li>
        <li><a href="/manager/showTeacher?page=1">老师信息</a></li>
        <li><a href="/manager/showSC?page=1">选课情况</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="sub-header">添加学生</h2>
      <div class="table-responsive">
        <p style="color: red">{{if msg}}waring:{{msg}}{{/if}}</p>
        <form action="#" method="POST" id="addStudentForm">
          <div class="form-group">
            <label for="username">学号(12位)</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="eg:201808010211"
            />
          </div>
          <div class="form-group">
            <label for="name">姓名</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="name"
              placeholder="eg:张学阳"
            />
          </div>
          <div class="form-group">
            <label for="password">密码</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="请输入密码"
            />
          </div>

          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/block}} {{block "script"}}
<script>
  $("#addStudentForm").on("submit", function () {
    function serializeToJson(form) {
      const result = {};
      const f = form.serializeArray();
      // console.log("F:", f);

      f.forEach((item) => {
        result[item.name] = item.value;
      });
      return result;
    }
    const stu = serializeToJson($(this));
    const { username, password, name } = stu;
    // if (!username.test(/^[0-9]{12}/g)) {
    //   alert("学号必须为12位数字");
    //   return false;
    // }
    const reg = /[0-9]{12}/;
    if (!reg.test(username)) {
      alert("学号为12位数字");
      return false;
    }
    if (name.trim().length === 0) {
      alert("姓名不能为空");
      return false;
    }
    if (password.trim().length === 0) {
      alert("密码不能为空");
      return false;
    }
    $(this).attr("action", "/manager/addStudent");
    return true;
  });
</script>
{{/block}}
