{{extend "./common/layout.html"}} {{block "body"}} {{include "./header.html"}}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active">
          <a href="/manager?page=1"
            >学生信息 <span class="sr-only">(current)</span></a
          >
        </li>
        <li><a href="/manager/showTeacher?page=1">老师信息</a></li>
        <li><a href="/manager/showSC?page=1">选课情况</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="sub-header">
        欢迎您，{{user.username?user.username:"未登录"}}
      </h2>
      <a class="btn btn-default" href="/manager/addStudent" role="button"
        >添加学生</a
      >
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>学号</th>
              <th>姓名</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            {{each student}}
            <tr>
              <td>{{$value.username}}</td>
              <td>{{$value.name}}</td>
              <td>
                <a
                  class="btn btn-default"
                  href="/manager/updateStudent?id={{$value._id.toString()}}"
                  role="button"
                  >修改</a
                ><a
                  class="btn btn-default"
                  href="/manager/deleteStudent?id={{$value._id.toString()}}"
                  role="button"
                  >删除</a
                >
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <%if(page > 1){%>
        <a class="btn btn-default" href="/manager?page=<%=page-1%>"><<</a>
        <%}%> <% for(let i = 1; i <= total; i++){%>
        <a class="btn btn-default" href="/manager?page=<%= i %>"> <%= i %> </a>
        <% } %> <%if(page < total){%>
        <a class="btn btn-default" href="/manager?page={{page+1}}">>></a>
        <%}%>
      </div>
    </div>
  </div>
</div>
{{/block}}
